body#app {
	margin: 0;
	background-color: black;
}

body:not(#app) {
	margin: 1lh;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	width: 100vw;
	height: 100vh;
}

.gallery video {
	width: 100%;
	height: 100%;
	overflow: auto;
}

video.preview {
	width: 100vw;
	height: 100vh;
}

input[type="text"] {
	font-family: monospace;
}

input[type="text"]:invalid {
	background-color: lightpink;
}

pre {
	background-color: gray;
	padding: 0.5em;
	overflow: auto;
}

video {
	max-width: 100%;
	max-height: 100%;
}
